{% extends "category-base.html" %}

{% block content %}
<div class="gallery_description item_description">
    <p>Hi, my name is Nguy&#7877;n Th&#7843;o H&#432;&#417;ng
    (English: Thao Huong Nguyen). I am currently pursuing a Master’s degree in
    Information at the University of Michigan, in the Human-Computer Interaction
    track. In 2018 I will be looking for a job in User Experience Design. My
    undergraduate education was completed at Cornell College in Computer Science, with
    minors in Art History and English.</p>

    <p>Most of my work experience is in Software Development in
        environments both inside and outside the United States, but I have held a UX
        internship in as well. I am additionally trained in drawing, painting, and
        making comics. There are some samples on the site—among them, a short
        journalistic piece called <a href="/item/how_the_cia_stole_abex_art"><i>How the CIA Stole Abstract Expressionist
            Art</i>.</a></p>

    <p>Read my <a href="/resume">resume</a>, or reach me at nthuong [at] umich [dot] edu</p>
</div>

{% endblock %}